.container__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px;
    background: var(--fundo-card);
    margin: 0 4rem 4rem 4rem;
    border-radius: 16px;
    text-align: center;
}

.card__topico {
    font-size: 14px;
    font-weight: 600;
    color: var(--vermelho);
    line-height: 20px;
}

.card__texto {
    font-size: 36px;
    color: var(--azul-titulo);
    line-height: 44px;
    letter-spacing: -0.02rem;
    margin: 2rem 0 2rem 0;
}

.card__autora-nome {
    color: var(--azul-titulo);
    line-height: 44px;
}

.card__autora-profissao {
    color: var(--azul-principal);
    font-size: 14px;
    font-weight: 400;
}